
.yellosec-nav2{
    font-family: Arial, sans-serif;
    text-align: center;
  
    display: flex;

    /* background-color: aqua; */
    width:70% ;
    margin: 2% auto;
    justify-content: space-between;
    align-items: center;
    
  }
  

  .category{
    background-color: #131313;
    color: white;
    border-radius: 5px;
    height: 100%;
    padding: 1% 1%;
    display: flex;
  }
  .searchbar{
    background-color: white;
    border-radius: 5px;
    display: flex;
  }
  .search{
    width: 30vw;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  }
  input:focus{
    outline: none;
    border:2px solid #e09200;
  }

  .search-i{
    height: 100%;
    padding: 10px;
    background-color: orange;
    float: right;
  }

  .language{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1% 1%;
    width: 10vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user{
    display: flex;
  }

  .cart{
    display: flex;
  }

  @media (max-width:600px) {
    .yellosec-nav2{
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 2% auto;
      display: flex;
justify-content: center;
      flex-direction: row-reverse;
      width: 100vw;
      align-items: center;
      /* background-color: #e09200; */
      
    }
    
    

    .search{
      width: 50vw;
      background-color: #ffffff;
      border: none;
    }
    
  .category{
    background-color: #131313;
    color: white;
    border-radius: 5px;
    height: 100%;
    padding: 1% 1%;
    display: flex;
    position: absolute;
    z-index: 9;
    top: 100px;
    left: 0px;
    visibility: hidden;

  }

  .language{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1% 1%;
    width: 10vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    top: 150px;
    left: 30px;
    visibility: hidden;

  }

  .user{
    display: flex;
    position: absolute;
    z-index: 9;
    top: 250px;
    left: 10px;
    visibility: hidden;

  }

  .cart{
    position: absolute;
    z-index: 9;
    top: 200px;
    left: 10px;
    display: flex;
    visibility: hidden;
  }



  }

 

  
